<img src="https://i.imgur.com/lwJuBiQ.png" style="float: left; margin: 20px; height: 290px">

# EDA and Cleaning 

---
Standardized Test Analysis

**Author**: Miriam Sosa


1. [ACS](#ACS)
    - [Rename Metadata](#Rename-Metadata) 
    - [Race](#Race) 
    - [School District and Race](#School-District-and-Race) 
    - [Export CSV](#Export-CSV)
2. [SAT Scores](#SAT-Scores)
    - [Variables of Interest](#Variables-of-Interest) 
    - [Null/Missing Values](#Null/Missing-Values) 
    - [Group by 12th and District Name](#Group-by-12th-and-District-Name) 
    - [Percent Calculation](#Percent-Calculation) 
3. [Data Merge](#Data-Merge)

In [2]:
import numpy as np
import os
import pandas as pd

#### 2019 ACS American Community Survey- Census Bureau

In [3]:
acs = pd.read_csv('../data/ACSDP1Y2019.DP05_data_with_overlays_2021-09-22T135008.csv', keep_default_na=False, na_values=['N'])
acs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Columns: 358 entries, GEO_ID to DP05_0089PM
dtypes: object(358)
memory usage: 344.1+ KB

#### 2019 California SAT Scores

In [4]:
cal = pd.read_csv('../data/sat_19.csv')
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2579 entries, 0 to 2578
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CDS                    2579 non-null   int64
 1   CCode                  2579 non-null   int64
 2   CDCode                 2579 non-null   int64
 3   SCode                  2579 non-null   int64
 4   RType                  2579 non-null   object
 5   SName                  1982 non-null   object
 6   DName                  2521 non-null   object
 7   CName                  2579 non-null   object
 8   Enroll12               2579 non-null   int64
 9   NumTSTTakr12           2579 non-null   int64
 10  NumERWBenchmark12      2304 non-null   object
 11  PctERWBenchmark12      2304 non-null   object
 12  NumMathBenchmark12     2304 non-null   object
 13  PctMathBenchmark12     2304 non-null   object
 14  Enroll11               2579 non-null   int64
 15  NumTSTTakr11           2579 non-null   int64
 16  NumERWBenchmark11      2269 non-null   object
 17  PctERWBenchmark11      2269 non-null   object
 18  NumMathBenchmark11     2269 non-null   object
 19  PctMathBenchmark11     2269 non-null   object
 20  TotNumBothBenchmark12  2304 non-null   object
 21  PctBothBenchmark12     2304 non-null   object
 22  TotNumBothBenchmark11  2269 non-null   object
 23  PctBothBenchmark11     2269 non-null   object
 24  Year                   2579 non-null   object
dtypes: int64(8), object(17)
memory usage: 503.8+ KB

## Data Dictionary

[California SAT](https://www.cde.ca.gov/ds/sp/ai/reclayoutsat19.asp)

## Data Cleaning

## ACS

In [3]:
acs.head(3)

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,...,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
0,id,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Percent!!SEX AND AGE!!Total population!!Male,Percent Margin of Error!!SEX AND AGE!!Total po...,...,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Margin of Error!!CITIZEN, VOTING AGE POPULATIO...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Margin of Error!!CITIZEN, VOTING AGE POPULATIO...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P..."
1,9700000US0600013,"Rocklin Unified School District, California",67658,594,67658,(X),32707,1796,48.3,2.6,...,46356,(X),22118,1721,47.7,2.5,24238,1886,52.3,2.5
2,9700000US0600014,"Hesperia Unified School District, California",108655,6146,108655,(X),53349,4318,49.1,2.8,...,65803,(X),34125,3467,51.9,2.6,31678,2629,48.1,2.6

In [4]:
acs.drop([0], inplace=True)
acs.head(3)

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,...,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
1,9700000US0600013,"Rocklin Unified School District, California",67658,594,67658,(X),32707,1796,48.3,2.6,...,46356,(X),22118,1721,47.7,2.5,24238,1886,52.3,2.5
2,9700000US0600014,"Hesperia Unified School District, California",108655,6146,108655,(X),53349,4318,49.1,2.8,...,65803,(X),34125,3467,51.9,2.6,31678,2629,48.1,2.6
3,9700000US0600016,"Upland Unified School District, California",78784,2142,78784,(X),37056,2300,47.0,2.5,...,58887,(X),27036,2090,45.9,2.6,31851,1942,54.1,2.6

In [5]:
# metadata.csv
# DP05_0070E - Estimate!!HISPANIC OR LATINO AND RACE!!Total population
# DP05_0077E -Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone

## Rename Metadata

In [6]:
acs.rename(columns = {"NAME":"SchoolDistrict",
                     "DP05_0070E":"TotalPop",
                     "DP05_0077E":"White"},
                     inplace=True)

In [7]:
pd.set_option('display.max_columns', None)
acs.head()

,GEO_ID,SchoolDistrict,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,DP05_0003E,DP05_0003M,DP05_0003PE,DP05_0003PM,DP05_0004E,DP05_0004M,DP05_0004PE,DP05_0004PM,DP05_0005E,DP05_0005M,DP05_0005PE,DP05_0005PM,DP05_0006E,DP05_0006M,DP05_0006PE,DP05_0006PM,DP05_0007E,DP05_0007M,DP05_0007PE,DP05_0007PM,DP05_0008E,DP05_0008M,DP05_0008PE,DP05_0008PM,DP05_0009E,DP05_0009M,DP05_0009PE,DP05_0009PM,DP05_0010E,DP05_0010M,DP05_0010PE,DP05_0010PM,DP05_0011E,DP05_0011M,DP05_0011PE,DP05_0011PM,DP05_0012E,DP05_0012M,DP05_0012PE,DP05_0012PM,DP05_0013E,DP05_0013M,DP05_0013PE,DP05_0013PM,DP05_0014E,DP05_0014M,DP05_0014PE,DP05_0014PM,DP05_0015E,DP05_0015M,DP05_0015PE,DP05_0015PM,DP05_0016E,DP05_0016M,DP05_0016PE,DP05_0016PM,DP05_0017E,DP05_0017M,DP05_0017PE,DP05_0017PM,DP05_0018E,DP05_0018M,DP05_0018PE,DP05_0018PM,DP05_0019E,DP05_0019M,DP05_0019PE,DP05_0019PM,DP05_0020E,DP05_0020M,DP05_0020PE,DP05_0020PM,DP05_0021E,DP05_0021M,DP05_0021PE,DP05_0021PM,DP05_0022E,DP05_0022M,DP05_0022PE,DP05_0022PM,DP05_0023E,DP05_0023M,DP05_0023PE,DP05_0023PM,DP05_0024E,DP05_0024M,DP05_0024PE,DP05_0024PM,DP05_0025E,DP05_0025M,DP05_0025PE,DP05_0025PM,DP05_0026E,DP05_0026M,DP05_0026PE,DP05_0026PM,DP05_0027E,DP05_0027M,DP05_0027PE,DP05_0027PM,DP05_0028E,DP05_0028M,DP05_0028PE,DP05_0028PM,DP05_0029E,DP05_0029M,DP05_0029PE,DP05_0029PM,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,DP05_0033PM,DP05_0034E,DP05_0034M,DP05_0034PE,DP05_0034PM,DP05_0035E,DP05_0035M,DP05_0035PE,DP05_0035PM,DP05_0036E,DP05_0036M,DP05_0036PE,DP05_0036PM,DP05_0037E,DP05_0037M,DP05_0037PE,DP05_0037PM,DP05_0038E,DP05_0038M,DP05_0038PE,DP05_0038PM,DP05_0039E,DP05_0039M,DP05_0039PE,DP05_0039PM,DP05_0040E,DP05_0040M,DP05_0040PE,DP05_0040PM,DP05_0041E,DP05_0041M,DP05_0041PE,DP05_0041PM,DP05_0042E,DP05_0042M,DP05_0042PE,DP05_0042PM,DP05_0043E,DP05_0043M,DP05_0043PE,DP05_0043PM,DP05_0044E,DP05_0044M,DP05_0044PE,DP05_0044PM,DP05_0045E,DP05_0045M,DP05_0045PE,DP05_0045PM,DP05_0046E,DP05_0046M,DP05_0046PE,DP05_0046PM,DP05_0047E,DP05_0047M,DP05_0047PE,DP05_0047PM,DP05_0048E,DP05_0048M,DP05_0048PE,DP05_0048PM,DP05_0049E,DP05_0049M,DP05_0049PE,DP05_0049PM,DP05_0050E,DP05_0050M,DP05_0050PE,DP05_0050PM,DP05_0051E,DP05_0051M,DP05_0051PE,DP05_0051PM,DP05_0052E,DP05_0052M,DP05_0052PE,DP05_0052PM,DP05_0053E,DP05_0053M,DP05_0053PE,DP05_0053PM,DP05_0054E,DP05_0054M,DP05_0054PE,DP05_0054PM,DP05_0055E,DP05_0055M,DP05_0055PE,DP05_0055PM,DP05_0056E,DP05_0056M,DP05_0056PE,DP05_0056PM,DP05_0057E,DP05_0057M,DP05_0057PE,DP05_0057PM,DP05_0058E,DP05_0058M,DP05_0058PE,DP05_0058PM,DP05_0059E,DP05_0059M,DP05_0059PE,DP05_0059PM,DP05_0060E,DP05_0060M,DP05_0060PE,DP05_0060PM,DP05_0061E,DP05_0061M,DP05_0061PE,DP05_0061PM,DP05_0062E,DP05_0062M,DP05_0062PE,DP05_0062PM,DP05_0063E,DP05_0063M,DP05_0063PE,DP05_0063PM,DP05_0064E,DP05_0064M,DP05_0064PE,DP05_0064PM,DP05_0065E,DP05_0065M,DP05_0065PE,DP05_0065PM,DP05_0066E,DP05_0066M,DP05_0066PE,DP05_0066PM,DP05_0067E,DP05_0067M,DP05_0067PE,DP05_0067PM,DP05_0068E,DP05_0068M,DP05_0068PE,DP05_0068PM,DP05_0069E,DP05_0069M,DP05_0069PE,DP05_0069PM,TotalPop,DP05_0070M,DP05_0070PE,DP05_0070PM,DP05_0071E,DP05_0071M,DP05_0071PE,DP05_0071PM,DP05_0072E,DP05_0072M,DP05_0072PE,DP05_0072PM,DP05_0073E,DP05_0073M,DP05_0073PE,DP05_0073PM,DP05_0074E,DP05_0074M,DP05_0074PE,DP05_0074PM,DP05_0075E,DP05_0075M,DP05_0075PE,DP05_0075PM,DP05_0076E,DP05_0076M,DP05_0076PE,DP05_0076PM,White,DP05_0077M,DP05_0077PE,DP05_0077PM,DP05_0078E,DP05_0078M,DP05_0078PE,DP05_0078PM,DP05_0079E,DP05_0079M,DP05_0079PE,DP05_0079PM,DP05_0080E,DP05_0080M,DP05_0080PE,DP05_0080PM,DP05_0081E,DP05_0081M,DP05_0081PE,DP05_0081PM,DP05_0082E,DP05_0082M,DP05_0082PE,DP05_0082PM,DP05_0083E,DP05_0083M,DP05_0083PE,DP05_0083PM,DP05_0084E,DP05_0084M,DP05_0084PE,DP05_0084PM,DP05_0085E,DP05_0085M,DP05_0085PE,DP05_0085PM,DP05_0086E,DP05_0086M,DP05_0086PE,DP05_0086PM,DP05_0087E,DP05_0087M,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
1,9700000US0600013,"Rocklin Unified School District, California",67658,594,67658,(X),32707,1796,48.3,2.6,34951,1789,51.7,2.6,93.6,9.8,(X),(X),3810,956,5.6,1.4,5240,1399,7.7,2.1,5617,1412,8.3,2.1,5277,1013,7.8,1.5,3884,1192,5.7,1.8,7129,1306,10.5,1.9,9518,1339,14.1,2.0,9243,1370,13.7,2.0,3634,943,5.4,1.4,2845,701,4.2,1.0,6714,1415,9.9,2.1,3325,980,4.9,1.4,1422,608,2.1,0.9,39.3,2.4,(X),(X),18405,2559,27.2,3.7,51882,2446,76.7,3.6,49253,2522,72.8,3.7,47000,2356,69.5,3.5,13066,1824,19.3,2.7,11461,1806,16.9,2.7,49253,2522,49253,(X),23590,1657,47.9,2.5,25663,1858,52.1,2.5,91.9,9.1,(X),(X),11461,1806,11461,(X),4689,882,40.9,4.5,6772,1206,59.1,4.5,69.2,12.9,(X),(X),67658,594,67658,(X),63525,1230,93.9,1.7,4133,1125,6.1,1.7,63525,1230,93.9,1.7,53887,2259,79.6,3.3,718,557,1.1,0.8,102,120,0.2,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7877,2078,11.6,3.1,2460,1739,3.6,2.6,1787,1344,2.6,2.0,1835,1147,2.7,1.7,162,156,0.2,0.2,110,177,0.2,0.3,469,581,0.7,0.9,1054,1052,1.6,1.6,144,247,0.2,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,797,459,1.2,0.7,4133,1125,6.1,1.7,813,791,1.2,1.2,374,329,0.6,0.5,1700,857,2.5,1.3,0,216,0.0,0.3,67658,594,67658,(X),58020,2157,85.8,3.1,1531,1204,2.3,1.8,615,564,0.9,0.8,10108,2175,14.9,3.2,652,575,1.0,0.8,1535,857,2.3,1.3,67658,594,67658,(X),7024,1553,10.4,2.3,4894,1391,7.2,2.1,702,633,1.0,0.9,50,83,0.1,0.1,1378,857,2.0,1.3,60634,1609,89.6,2.3,48582,2350,71.8,3.4,718,557,1.1,0.8,44,64,0.1,0.1,7877,2078,11.6,3.1,144,247,0.2,0.4,0,216,0.0,0.3,3269,1005,4.8,1.5,0,216,0.0,0.3,3269,1005,4.8,1.5,23976,1315,(X),(X),46356,2796,46356,(X),22118,1721,47.7,2.5,24238,1886,52.3,2.5
2,9700000US0600014,"Hesperia Unified School District, California",108655,6146,108655,(X),53349,4318,49.1,2.8,55306,4316,50.9,2.8,96.5,10.7,(X),(X),10046,2441,9.2,2.1,8101,2210,7.5,2.0,8154,2509,7.5,2.3,9941,1963,9.1,1.8,7151,1514,6.6,1.3,14848,2946,13.7,2.5,13999,2369,12.9,2.2,12439,2438,11.4,2.2,7702,2287,7.1,2.0,6032,1558,5.6,1.4,6637,1291,6.1,1.2,2735,768,2.5,0.7,870,497,0.8,0.5,32.8,2.6,(X),(X),33233,3831,30.6,2.8,80008,5263,73.6,3.1,75422,4832,69.4,2.8,70989,4548,65.3,2.6,13337,1788,12.3,1.7,10242,1515,9.4,1.4,75422,4832,75422,(X),38905,3781,51.6,2.7,36517,2431,48.4,2.7,106.5,11.5,(X),(X),10242,1515,10242,(X),3911,980,38.2,7.4,6331,1143,61.8,7.4,61.8,19.6,(X),(X),108655,6146,108655,(X),102949,6778,94.7,2.9,5706,3121,5.3,2.9,102949,6778,94.7,2.9,87947,7918,80.9,4.7,2931,1670,2.7,1.5,895,760,0.8,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2636,1270,2.4,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218,259,0.2,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8322,2840,7.7,2.7,5706,3121,5.3,2.9,1737,1929,1.6,1.8,507,591,0.5,0.5,244,218,0.2,0.2,44,74,0.0,0.1,108655,6146,108655,(X),92078,7538,84.7,4.1,4787,2189,4.4,2.0,2339,1820,2.2,1.7,3593,1628,3.3,1.5,NaN,NaN,NaN,NaN,10744,3462,9.9,3.2,108655,6146,108655,(X),64905,7867,59.7,5.9,57479,7881,52.9,6.6,2541,3196,2.3,2.9,105,83,0.1,0.1,4780,2649,4.4,2.5,43750,6515,40.3,5.9,34751,5936,32.0,5.4,2931,1670,2.7,1.5,145,234,0.1,0.2,2636,1270,2.4,1.2,88,168,0.1,0.2,148,187,0.1,0.2,3051,2196,2.8,2.0,285,389,0.3,0.4,2766,2166,2.5,2.0,32306,2263,(X),(X),65803,5089,65803,(X),34125,3467,51.9,2.6,31678,2629,48.1,2.6
3,9700000US0600016,"Upland Unified School District, California",78784,2142,78784,(X),37056,2300,47.0,2.5,41728,2161,53.0,2.5,88.8,8.9,(X),(X),3933,1274,5.0,1.6,3873,1118,4.9,1.4,5305,1374,6.7,1.7,6157,1291,7.8,1.6,4793,1248,6.1,1.6,12210,2013,15.5,2.5,10345,1718,13.1,2.1,11990,1387,15.2,1.8,4234,1079,5.4,1.4,4057,943,5.1,1.2,6537,1223,8.3,1.6,4280,925,5.4,1.2,1070,376,1.4,0.5,38.5,1.8,(X),(X),16612,2413,21.1,2.9,64914,2433,82.4,2.8,62172,2411,78.9,2.9,58216,2417,73.9,3.0,13792,1638,17.5,2.2,11887,1592,15.1,2.1,62172,2411,62172,(X),28713,2050,46.2,2.6,33459,1931,53.8,2.6,85.8,8.9,(X),(X),11887,1592,11887,(X),5248,912,44.1,5.1,6639,1089,55.9,5.1,79.0,16.4,(X),(X),78784,2142,78784,(X),73742,3035,93.6,2.5,5042,1991,6.4,2.5,73742,3035,93.6,2.5,47131,4437,59.8,5.7,6613,2357,8.4,3.0,350,330,0.4,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6444,1721,8.2,2.2,561,539,0.7,0.7,1916,1237,2.4,1.6,2156,1063,2.7,1.4,194,198,0.2,0.3,683,420,0.9,0.5,522,447,0.7,0.6,412,307,0.5,0.4,121,147,0.2,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13083,4279,16.6,5.3,5042,1991,6.4,2.5,233,257,0.3,0.3,928,706,1.2,0.9,1024,610,1.3,0.8,0,216,0.0,0.2,78784,2142,78784,(X),51823,4741,65.8,6.1,6946,2362,8.8,3.0,1554,982,2.0,1.2,8020,1945,10.2,2.5,NaN,NaN,NaN,NaN,15087,4353,19.1,5.4,78784,2142,78784,(X),34202,4397,43.4,5.3,28893,4161,36.7,5.1,151,251,0.2,0.3,46,78,0.1,0.1,5112,2185,6.5,2.8,44582,4203,56.6,5.3,29707,3385,37.7,4.2,5489,2061,7.0,2.6,220,233,0.3,0.3,6444,1721,8.2,2.2,58,101,0.1,0.1,342,398,0.4,0.5,2322,1163,2.9,1.5,0,216,0.0,0.2,2322,1163,2.9,1.5,27517,1410,(X),(X),58887,2654,58887,(X),27036,2090,45.9,2.6,31851,1942,54.1,2.6
4,9700000US0600017,"Apple Valley Unified School District, California",81643,3376,81643,(X),39875,2822,48.8,2.3,41768,2196,51.2,2.3,95.5,8.8,(X),(X),7406,2054,9.1,2.4,5088,1583,6.2,1.9,5752,1842,7.0,2.2,5564,1503,6.8,1.9,5368,1660,6.6,2.1,10892,2063,13.3,2.4,8603,2090,10.5,2.5,7069,1721,8.7,2.1,6339,1291,7.8,1.5,5196,1592,6.4,2.0,8891,1724,10.9,2.0,3994,1113,4.9,1.4,1481,694,1.8,0.8,36.1,3.9,(X),(X),22306,3464,27.3,3.9,62429,3496,76.5,3.8,59337,3790,72.7,3.9,56486,3743,69.2,3.8,17219,2484,21.1,2.9,14366,2267,17.6,2.7,59337,3790,59337,(X),28634,2431,48.3,2.3,30703,2264,51.7,2.3,93.3,8.8,(X),(X),14366,2267,14366,(X),6487,1394,45.2,5.8,7879,1414,54.8,5.8,82.3,19.2,(X),(X),81643,3376,81643,(X),77724,4350,95.2,2.8,3919,2230,4.8,2.8,77724,4350,95.2,2.8,64854,5786,79.4,5.7,4761,2827,5.8,3.5,712,601,0.9,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1252,1032,1.5,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,479,730,0.6,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5666,3789,6.9,4.6,3919,2230,4.8,2.8,128,160,0.2,0.2,886,987,1.1,1.2,468,461,0.6,0.6,0,216,0.0,0.2,81643,3376,81643,(X),67414,5744,82.6,5.6,5101,2857,6.2,3.5,1649,1356,2.0,1.7,3079,1867,3.8,2.3,NaN,NaN,NaN,NaN,6141,3824,7.5,4.7,81643,3376,81643,(X),31582,5087,38.7,6.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50061,6082,61.3,6.4,41209,6305,50.5,6.7,4609,2827,5.6,3.5,330,439,0.4,0.5,1028,936,1.3,1.1,479,730,0.6,0.9,0,216,0.0,0.2,2406,1967,2.9,2.4,67,115,0.1,0.1,2339,1960,2.9,2.4,30671,2553,(X),(X),54203,5021,54203,(X),26263,3002,48.5,2.8,27940,2873,51.5,2.8
5,9700000US0600020,"Pleasanton Unified School District, California",82375,781,82375,(X),40644,1549,49.3,1.8,41731,1467,50.7,1.8,97.4,6.9,(X),(X),3966,959,4.8,1.2,4282,942,5.2,1.1,7252,1285,8.8,1.6,5904,1302,7.2,1.6,2824,732,3.4,0.9,7858,1332,9.5,1.6,12476,1496,15.1,1.8,12822,1551,15.6,1.8,5409,1245,6.6,1.5,6338,1316,7.7,1.6,6954,1302,8.4,1.6,4679,1150,5.7,1.4,1611,677,2.0,0.8,42.1,2.1,(X),(X),19601,1917,23.8,2.3,65445,1707,79.4,2.0,62774,1953,76.2,2.3,60287,1857,73.2,2.3,16778,2141,20.4,2.6,13244,1800,16.1,2.2,62774,1953,62774,(X),30890,1453,49.2,1.8,31884,1534,50.8,1.8,96.9,7.0,(X),(X),13244,1800,13244,(X),5549,1052,41.9,6.0,7695,1349,58.1,6.0,72.1,17.9,(X),(X),82375,781,82375,(X),78198,1578,94.9,1.7,4177,1386,5.1,1.7,78198,1578,94.9,1.7,46191,3542,56.1,4.3,815,581,1.0,0.7,314,277,0.4,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27594,3013,33.5,3.7,14372,2812,17.4,3.4,7824,1974,9.5,2.4,1380,714,1.7,0.9,463,417,0.6,0.5,1868,1090,2.3,1.3,1152,697,1.4,0.8,535,473,0.6,0.6,0,216,0.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3284,2052,4.0,2.5,4177,1386,5.1,1.7,357,393,0.4,0.5,165,157,0.2,0.2,2815,995,3.4,1.2,0,216,0.0,0.2,82375,781,82375,(X),50368,3309,61.1,4.0,1284,775,1.6,0.9,809,692,1.0,0.8,30483,3024,37.0,3.7,NaN,NaN,NaN,NaN,3881,2626,4.7,3.2,82375,781,82375,(X),9126,2844,11.1,3.4,6084,2774,7.4,3.4,143,236,0.2,0.3,0,216,0.0,0.2,2899,1702,3.5,2.1,73249,2845,88.9,3.4,41540,3335,50.4,4.0,749,574,0.9,0.7,250,230,0.3,0.3,27425,3013,33.3,3.7,0,216,0.0,0.2,186,303,0.2,0.4,3099,928,3.8,1.1,0,216,0.0,0.2,3099,928,3.8,1.1,30554,1546,(X),(X),49834,2557,49834,(X),24523,1675,49.2,2.2,25311,1687,50.8,2.2

## Race

In [8]:
acs_3 = acs[["SchoolDistrict", "TotalPop","White"]]
acs_3.head()

                                     SchoolDistrict TotalPop  White
1       Rocklin Unified School District, California    67658  48582
2      Hesperia Unified School District, California   108655  34751
3        Upland Unified School District, California    78784  29707
4  Apple Valley Unified School District, California    81643  41209
5    Pleasanton Unified School District, California    82375  41540

In [9]:
acs_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 1 to 122
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SchoolDistrict  122 non-null    object
 1   TotalPop        122 non-null    object
 2   White           119 non-null    object
dtypes: object(3)
memory usage: 3.8+ KB

In [10]:
acs_3.isnull().sum()

SchoolDistrict    0
TotalPop          0
White             3
dtype: int64

In [11]:
acs_3[acs_3.White.isnull()]

                                       SchoolDistrict TotalPop White
32  Coachella Valley Unified School District, Cali...    83944   NaN
61        Lynwood Unified School District, California    67977   NaN
62         Madera Unified School District, California    91020   NaN

In [12]:
acs_3 = acs_3.dropna()
acs_3

                                       SchoolDistrict   TotalPop      White
1         Rocklin Unified School District, California      67658      48582
2        Hesperia Unified School District, California     108655      34751
3          Upland Unified School District, California      78784      29707
4    Apple Valley Unified School District, California      81643      41209
5      Pleasanton Unified School District, California      82375      41540
..                                                ...        ...        ...
118     Yuba City Unified School District, California      76200      30891
119        Irvine Unified School District, California     259482     104447
120     Val Verde Unified School District, California      90550       8914
121                                     United States  328239523  196789401
122                                        California   39512223   14356081

[119 rows x 3 columns]

In [13]:
acs_3.isnull().sum()

SchoolDistrict    0
TotalPop          0
White             0
dtype: int64

In [14]:
acs_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 1 to 122
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SchoolDistrict  119 non-null    object
 1   TotalPop        119 non-null    object
 2   White           119 non-null    object
dtypes: object(3)
memory usage: 3.7+ KB

In [15]:
acs_3 = acs_3.astype({'White':'float64', 'TotalPop':'float64'})
mod_acs = acs_3
mod_acs

,SchoolDistrict,TotalPop,White
1,"Rocklin Unified School District, California",67658.0,48582.0
2,"Hesperia Unified School District, California",108655.0,34751.0
3,"Upland Unified School District, California",78784.0,29707.0
4,"Apple Valley Unified School District, California",81643.0,41209.0
5,"Pleasanton Unified School District, California",82375.0,41540.0
...,...,...,...
118,"Yuba City Unified School District, California",76200.0,30891.0
119,"Irvine Unified School District, California",259482.0,104447.0
120,"Val Verde Unified School District, California",90550.0,8914.0
121,United States,328239523.0,196789401.0
122,California,39512223.0,14356081.0

In [16]:
mod_acs['NonWhite'] = mod_acs['TotalPop'] - mod_acs['White']
mod_acs['WhiteOrNonLatino%'] = mod_acs['White'] / mod_acs['TotalPop']
mod_acs['NonWhiteOrLatino%'] = mod_acs['NonWhite'] / mod_acs['TotalPop']
mod_acs

,SchoolDistrict,TotalPop,White,NonWhite,WhiteOrNonLatino%,NonWhiteOrLatino%
1,"Rocklin Unified School District, California",67658.0,48582.0,19076.0,0.718053,0.281947
2,"Hesperia Unified School District, California",108655.0,34751.0,73904.0,0.319829,0.680171
3,"Upland Unified School District, California",78784.0,29707.0,49077.0,0.377069,0.622931
4,"Apple Valley Unified School District, California",81643.0,41209.0,40434.0,0.504746,0.495254
5,"Pleasanton Unified School District, California",82375.0,41540.0,40835.0,0.504279,0.495721
...,...,...,...,...,...,...
118,"Yuba City Unified School District, California",76200.0,30891.0,45309.0,0.405394,0.594606
119,"Irvine Unified School District, California",259482.0,104447.0,155035.0,0.402521,0.597479
120,"Val Verde Unified School District, California",90550.0,8914.0,81636.0,0.098443,0.901557
121,United States,328239523.0,196789401.0,131450122.0,0.599530,0.400470
122,California,39512223.0,14356081.0,25156142.0,0.363333,0.636667

## School District and Race

In [17]:
mod_acs['SchoolDistrict'] = mod_acs['SchoolDistrict'].str.replace(' School District, California', '')
print(mod_acs)

           SchoolDistrict     TotalPop        White     NonWhite  \
1         Rocklin Unified      67658.0      48582.0      19076.0
2        Hesperia Unified     108655.0      34751.0      73904.0
3          Upland Unified      78784.0      29707.0      49077.0
4    Apple Valley Unified      81643.0      41209.0      40434.0
5      Pleasanton Unified      82375.0      41540.0      40835.0
..                    ...          ...          ...          ...
118     Yuba City Unified      76200.0      30891.0      45309.0
119        Irvine Unified     259482.0     104447.0     155035.0
120     Val Verde Unified      90550.0       8914.0      81636.0
121         United States  328239523.0  196789401.0  131450122.0
122            California   39512223.0   14356081.0   25156142.0

     WhiteOrNonLatino%  NonWhiteOrLatino%
1             0.718053           0.281947
2             0.319829           0.680171
3             0.377069           0.622931
4             0.504746           0.495254
5             0.504279           0.495721
..                 ...                ...
118           0.405394           0.594606
119           0.402521           0.597479
120           0.098443           0.901557
121           0.599530           0.400470
122           0.363333           0.636667

[119 rows x 6 columns]

## Export CSV

In [18]:
mod_acs.to_csv('../data/acs_race_and_school_district.csv', index=False)

## SAT Scores

In [19]:
cal = pd.read_csv('../data/sat_19.csv')
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2579 entries, 0 to 2578
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CDS                    2579 non-null   int64
 1   CCode                  2579 non-null   int64
 2   CDCode                 2579 non-null   int64
 3   SCode                  2579 non-null   int64
 4   RType                  2579 non-null   object
 5   SName                  1982 non-null   object
 6   DName                  2521 non-null   object
 7   CName                  2579 non-null   object
 8   Enroll12               2579 non-null   int64
 9   NumTSTTakr12           2579 non-null   int64
 10  NumERWBenchmark12      2304 non-null   object
 11  PctERWBenchmark12      2304 non-null   object
 12  NumMathBenchmark12     2304 non-null   object
 13  PctMathBenchmark12     2304 non-null   object
 14  Enroll11               2579 non-null   int64
 15  NumTSTTakr11           2579 non-null   int64
 16  NumERWBenchmark11      2269 non-null   object
 17  PctERWBenchmark11      2269 non-null   object
 18  NumMathBenchmark11     2269 non-null   object
 19  PctMathBenchmark11     2269 non-null   object
 20  TotNumBothBenchmark12  2304 non-null   object
 21  PctBothBenchmark12     2304 non-null   object
 22  TotNumBothBenchmark11  2269 non-null   object
 23  PctBothBenchmark11     2269 non-null   object
 24  Year                   2579 non-null   object
dtypes: int64(8), object(17)
memory usage: 503.8+ KB

In [20]:
cal.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,NumERWBenchmark12,PctERWBenchmark12,NumMathBenchmark12,PctMathBenchmark12,Enroll11,NumTSTTakr11,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year
0,6615980630046,6,661598,630046,S,Colusa Alternative Home,Colusa Unified,Colusa,18,0,NaN,NaN,NaN,NaN,18,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
1,6616060634758,6,661606,634758,S,Maxwell Sr High,Maxwell Unified,Colusa,29,10,*,*,*,*,26,6,*,*,*,*,*,*,*,*,2018-19
2,19647331930924,19,1964733,1930924,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206,102,31,30.39,14,13.73,219,174,42,24.14,12,6.90,14,13.73,11,6.32,2018-19
3,19647331931476,19,1964733,1931476,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227,113,54,47.79,18,15.93,333,275,97,35.27,37,13.45,18,15.93,35,12.73,2018-19
4,19647331931856,19,1964733,1931856,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18,14,*,*,*,*,17,5,*,*,*,*,*,*,*,*,2018-19

In [5]:
# Keeping only rows with one or more test takers in the 12th grade

In [21]:
cal_11_12 = cal[(cal['NumERWBenchmark12'] != '*') & (cal['NumTSTTakr12'] > 0)].copy()
cal_11_12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1722 entries, 2 to 2578
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CDS                    1722 non-null   int64
 1   CCode                  1722 non-null   int64
 2   CDCode                 1722 non-null   int64
 3   SCode                  1722 non-null   int64
 4   RType                  1722 non-null   object
 5   SName                  1262 non-null   object
 6   DName                  1667 non-null   object
 7   CName                  1722 non-null   object
 8   Enroll12               1722 non-null   int64
 9   NumTSTTakr12           1722 non-null   int64
 10  NumERWBenchmark12      1722 non-null   object
 11  PctERWBenchmark12      1722 non-null   object
 12  NumMathBenchmark12     1722 non-null   object
 13  PctMathBenchmark12     1722 non-null   object
 14  Enroll11               1722 non-null   int64
 15  NumTSTTakr11           1722 non-null   int64
 16  NumERWBenchmark11      1716 non-null   object
 17  PctERWBenchmark11      1716 non-null   object
 18  NumMathBenchmark11     1716 non-null   object
 19  PctMathBenchmark11     1716 non-null   object
 20  TotNumBothBenchmark12  1722 non-null   object
 21  PctBothBenchmark12     1722 non-null   object
 22  TotNumBothBenchmark11  1716 non-null   object
 23  PctBothBenchmark11     1716 non-null   object
 24  Year                   1722 non-null   object
dtypes: int64(8), object(17)
memory usage: 349.8+ KB

In [22]:
cal_11_12.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,NumERWBenchmark12,PctERWBenchmark12,NumMathBenchmark12,PctMathBenchmark12,Enroll11,NumTSTTakr11,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year
2,19647331930924,19,1964733,1930924,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206,102,31,30.39,14,13.73,219,174,42,24.14,12,6.90,14,13.73,11,6.32,2018-19
3,19647331931476,19,1964733,1931476,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227,113,54,47.79,18,15.93,333,275,97,35.27,37,13.45,18,15.93,35,12.73,2018-19
5,19647336061451,19,1964733,6061451,S,Foshay Learning Center,Los Angeles Unified,Los Angeles,166,106,68,64.15,36,33.96,187,183,91,49.73,47,25.68,36,33.96,44,24.04,2018-19
6,30736353034956,30,3073635,3034956,S,Mission Viejo High,Saddleback Valley Unified,Orange,562,190,161,84.74,138,72.63,503,223,206,92.38,176,78.92,132,69.47,172,77.13,2018-19
7,33672153336955,33,3367215,3336955,S,Abraham Lincoln Continuation,Riverside Unified,Riverside,114,17,3,17.65,2,11.76,83,0,NaN,NaN,NaN,NaN,2,11.76,NaN,NaN,2018-19

## Variables of Interest

In [23]:
cal_12 = cal_11_12[['DName',
                    'NumTSTTakr12',
                    'Enroll12',
                    'NumERWBenchmark12',
                    'NumMathBenchmark12',
                    'TotNumBothBenchmark12']].copy()
cal_12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1722 entries, 2 to 2578
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DName                  1667 non-null   object
 1   NumTSTTakr12           1722 non-null   int64
 2   Enroll12               1722 non-null   int64
 3   NumERWBenchmark12      1722 non-null   object
 4   NumMathBenchmark12     1722 non-null   object
 5   TotNumBothBenchmark12  1722 non-null   object
dtypes: int64(2), object(4)
memory usage: 94.2+ KB

In [24]:
cal_12.head()

,DName,NumTSTTakr12,Enroll12,NumERWBenchmark12,NumMathBenchmark12,TotNumBothBenchmark12
2,Los Angeles Unified,102,206,31,14,14
3,Los Angeles Unified,113,227,54,18,18
5,Los Angeles Unified,106,166,68,36,36
6,Saddleback Valley Unified,190,562,161,138,132
7,Riverside Unified,17,114,3,2,2

## Null/Missing Values

In [26]:
round(cal_12.isnull().mean()*100,2)

DName                    3.19
NumTSTTakr12             0.00
Enroll12                 0.00
NumERWBenchmark12        0.00
NumMathBenchmark12       0.00
TotNumBothBenchmark12    0.00
dtype: float64

In [27]:
cal_12m = cal_12.loc[cal_12['DName'].notnull(), :].copy()
cal_12m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1667 entries, 2 to 2575
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DName                  1667 non-null   object
 1   NumTSTTakr12           1667 non-null   int64
 2   Enroll12               1667 non-null   int64
 3   NumERWBenchmark12      1667 non-null   object
 4   NumMathBenchmark12     1667 non-null   object
 5   TotNumBothBenchmark12  1667 non-null   object
dtypes: int64(2), object(4)
memory usage: 91.2+ KB

In [28]:
cal_12m

,DName,NumTSTTakr12,Enroll12,NumERWBenchmark12,NumMathBenchmark12,TotNumBothBenchmark12
2,Los Angeles Unified,102,206,31,14,14
3,Los Angeles Unified,113,227,54,18,18
5,Los Angeles Unified,106,166,68,36,36
6,Saddleback Valley Unified,190,562,161,138,132
7,Riverside Unified,17,114,3,2,2
...,...,...,...,...,...,...
2567,San Joaquin County Office of Education,78,823,48,19,19
2568,Pajaro Valley Unified,372,1315,230,142,133
2569,Scotts Valley Unified,90,194,84,73,73
2574,Riverbank Unified,40,179,23,13,11
2575,Davis Joint Unified,307,717,293,274,268

In [29]:
cal_12m['NumERWBenchmark12'] = cal_12m.NumERWBenchmark12.astype(float)
cal_12m['TotNumBothBenchmark12'] = cal_12m.TotNumBothBenchmark12.astype(float)
cal_12m['NumMathBenchmark12'] = cal_12m.NumMathBenchmark12.astype(float)
cal_12m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1667 entries, 2 to 2575
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DName                  1667 non-null   object
 1   NumTSTTakr12           1667 non-null   int64
 2   Enroll12               1667 non-null   int64
 3   NumERWBenchmark12      1667 non-null   float64
 4   NumMathBenchmark12     1667 non-null   float64
 5   TotNumBothBenchmark12  1667 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 91.2+ KB

## Group by 12th and District Name

In [30]:
cal_12_dist = cal_12m.groupby(['DName'], as_index=False).aggregate({'Enroll12':'sum',
                                                                    'NumTSTTakr12':'sum',
                                                                    'NumERWBenchmark12':'sum',
                                                                    'NumMathBenchmark12':'sum',
                                                                    'TotNumBothBenchmark12':'sum'},
                                                                  inplace = True).copy()
cal_12_dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 0 to 405
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DName                  406 non-null    object
 1   Enroll12               406 non-null    int64
 2   NumTSTTakr12           406 non-null    int64
 3   NumERWBenchmark12      406 non-null    float64
 4   NumMathBenchmark12     406 non-null    float64
 5   TotNumBothBenchmark12  406 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 22.2+ KB

In [31]:
cal_12_dist

,DName,Enroll12,NumTSTTakr12,NumERWBenchmark12,NumMathBenchmark12,TotNumBothBenchmark12
0,ABC Unified,3099,1260,1041.0,839.0,805.0
1,Acalanes Union High,2787,946,904.0,786.0,786.0
2,Acton-Agua Dulce Unified,1652,188,124.0,55.0,50.0
3,Alameda County Office of Education,254,128,51.0,19.0,19.0
4,Alameda Unified,1742,733,576.0,479.0,443.0
...,...,...,...,...,...,...
401,Woodland Joint Unified,1460,446,306.0,194.0,178.0
402,Yosemite Unified,337,107,89.0,51.0,49.0
403,Yreka Union High,288,82,62.0,48.0,44.0
404,Yuba City Unified,1801,407,337.0,230.0,230.0
405,Yucaipa-Calimesa Joint Unified,1367,454,360.0,270.0,258.0

## Percent Calculation

In [33]:
cal_12_dist['PctTstTakers'] = (cal_12_dist['NumTSTTakr12']) / (cal_12_dist['Enroll12'])
cal_12_dist['PctERWBenchmark12'] = (cal_12_dist['NumERWBenchmark12']) / (cal_12_dist['NumTSTTakr12'])
cal_12_dist['PctMathBenchmark12'] = (cal_12_dist['NumMathBenchmark12']) / (cal_12_dist['NumTSTTakr12'])
cal_12_dist['PctBothBenchmark12'] = (cal_12_dist['TotNumBothBenchmark12']) / (cal_12_dist['NumTSTTakr12'])
cal_12_dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 0 to 405
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DName                  406 non-null    object
 1   Enroll12               406 non-null    int64
 2   NumTSTTakr12           406 non-null    int64
 3   NumERWBenchmark12      406 non-null    float64
 4   NumMathBenchmark12     406 non-null    float64
 5   TotNumBothBenchmark12  406 non-null    float64
 6   PctTstTakers           406 non-null    float64
 7   PctERWBenchmark12      406 non-null    float64
 8   PctMathBenchmark12     406 non-null    float64
 9   PctBothBenchmark12     406 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 34.9+ KB

In [34]:
cal_12_dist

,DName,Enroll12,NumTSTTakr12,NumERWBenchmark12,NumMathBenchmark12,TotNumBothBenchmark12,PctTstTakers,PctERWBenchmark12,PctMathBenchmark12,PctBothBenchmark12
0,ABC Unified,3099,1260,1041.0,839.0,805.0,0.406583,0.826190,0.665873,0.638889
1,Acalanes Union High,2787,946,904.0,786.0,786.0,0.339433,0.955603,0.830867,0.830867
2,Acton-Agua Dulce Unified,1652,188,124.0,55.0,50.0,0.113801,0.659574,0.292553,0.265957
3,Alameda County Office of Education,254,128,51.0,19.0,19.0,0.503937,0.398438,0.148438,0.148438
4,Alameda Unified,1742,733,576.0,479.0,443.0,0.420781,0.785812,0.653479,0.604366
...,...,...,...,...,...,...,...,...,...,...
401,Woodland Joint Unified,1460,446,306.0,194.0,178.0,0.305479,0.686099,0.434978,0.399103
402,Yosemite Unified,337,107,89.0,51.0,49.0,0.317507,0.831776,0.476636,0.457944
403,Yreka Union High,288,82,62.0,48.0,44.0,0.284722,0.756098,0.585366,0.536585
404,Yuba City Unified,1801,407,337.0,230.0,230.0,0.225986,0.828010,0.565111,0.565111
405,Yucaipa-Calimesa Joint Unified,1367,454,360.0,270.0,258.0,0.332114,0.792952,0.594714,0.568282

In [35]:
mod_acs = pd.read_csv('../data/acs_race_and_school_district.csv')
mod_acs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SchoolDistrict     119 non-null    object
 1   TotalPop           119 non-null    float64
 2   White              119 non-null    float64
 3   NonWhite           119 non-null    float64
 4   WhiteOrNonLatino%  119 non-null    float64
 5   NonWhiteOrLatino%  119 non-null    float64
dtypes: float64(5), object(1)
memory usage: 5.7+ KB

## Data Merge

In [36]:
# merge : district name (sat data) and school district (acs data)

In [37]:
acs_sat_12 = pd.merge(cal_12_dist, mod_acs,
                      left_on = 'DName', 
                      right_on = 'SchoolDistrict',
                      how = 'left',
                      indicator=True)
acs_sat_12

,DName,Enroll12,NumTSTTakr12,NumERWBenchmark12,NumMathBenchmark12,TotNumBothBenchmark12,PctTstTakers,PctERWBenchmark12,PctMathBenchmark12,PctBothBenchmark12,SchoolDistrict,TotalPop,White,NonWhite,WhiteOrNonLatino%,NonWhiteOrLatino%,_merge
0,ABC Unified,3099,1260,1041.0,839.0,805.0,0.406583,0.826190,0.665873,0.638889,ABC Unified,103849.0,12652.0,91197.0,0.121831,0.878169,both
1,Acalanes Union High,2787,946,904.0,786.0,786.0,0.339433,0.955603,0.830867,0.830867,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,Acton-Agua Dulce Unified,1652,188,124.0,55.0,50.0,0.113801,0.659574,0.292553,0.265957,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,Alameda County Office of Education,254,128,51.0,19.0,19.0,0.503937,0.398438,0.148438,0.148438,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,Alameda Unified,1742,733,576.0,479.0,443.0,0.420781,0.785812,0.653479,0.604366,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,Woodland Joint Unified,1460,446,306.0,194.0,178.0,0.305479,0.686099,0.434978,0.399103,Woodland Joint Unified,68616.0,31440.0,37176.0,0.458202,0.541798,both
402,Yosemite Unified,337,107,89.0,51.0,49.0,0.317507,0.831776,0.476636,0.457944,NaN,NaN,NaN,NaN,NaN,NaN,left_only
403,Yreka Union High,288,82,62.0,48.0,44.0,0.284722,0.756098,0.585366,0.536585,NaN,NaN,NaN,NaN,NaN,NaN,left_only
404,Yuba City Unified,1801,407,337.0,230.0,230.0,0.225986,0.828010,0.565111,0.565111,Yuba City Unified,76200.0,30891.0,45309.0,0.405394,0.594606,both
405,Yucaipa-Calimesa Joint Unified,1367,454,360.0,270.0,258.0,0.332114,0.792952,0.594714,0.568282,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [38]:
cal_12_dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 0 to 405
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DName                  406 non-null    object
 1   Enroll12               406 non-null    int64
 2   NumTSTTakr12           406 non-null    int64
 3   NumERWBenchmark12      406 non-null    float64
 4   NumMathBenchmark12     406 non-null    float64
 5   TotNumBothBenchmark12  406 non-null    float64
 6   PctTstTakers           406 non-null    float64
 7   PctERWBenchmark12      406 non-null    float64
 8   PctMathBenchmark12     406 non-null    float64
 9   PctBothBenchmark12     406 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 34.9+ KB

In [39]:
cal_12_dist

,DName,Enroll12,NumTSTTakr12,NumERWBenchmark12,NumMathBenchmark12,TotNumBothBenchmark12,PctTstTakers,PctERWBenchmark12,PctMathBenchmark12,PctBothBenchmark12
0,ABC Unified,3099,1260,1041.0,839.0,805.0,0.406583,0.826190,0.665873,0.638889
1,Acalanes Union High,2787,946,904.0,786.0,786.0,0.339433,0.955603,0.830867,0.830867
2,Acton-Agua Dulce Unified,1652,188,124.0,55.0,50.0,0.113801,0.659574,0.292553,0.265957
3,Alameda County Office of Education,254,128,51.0,19.0,19.0,0.503937,0.398438,0.148438,0.148438
4,Alameda Unified,1742,733,576.0,479.0,443.0,0.420781,0.785812,0.653479,0.604366
...,...,...,...,...,...,...,...,...,...,...
401,Woodland Joint Unified,1460,446,306.0,194.0,178.0,0.305479,0.686099,0.434978,0.399103
402,Yosemite Unified,337,107,89.0,51.0,49.0,0.317507,0.831776,0.476636,0.457944
403,Yreka Union High,288,82,62.0,48.0,44.0,0.284722,0.756098,0.585366,0.536585
404,Yuba City Unified,1801,407,337.0,230.0,230.0,0.225986,0.828010,0.565111,0.565111
405,Yucaipa-Calimesa Joint Unified,1367,454,360.0,270.0,258.0,0.332114,0.792952,0.594714,0.568282

In [40]:
mod_acs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SchoolDistrict     119 non-null    object
 1   TotalPop           119 non-null    float64
 2   White              119 non-null    float64
 3   NonWhite           119 non-null    float64
 4   WhiteOrNonLatino%  119 non-null    float64
 5   NonWhiteOrLatino%  119 non-null    float64
dtypes: float64(5), object(1)
memory usage: 5.7+ KB

In [41]:
mod_acs

,SchoolDistrict,TotalPop,White,NonWhite,WhiteOrNonLatino%,NonWhiteOrLatino%
0,Rocklin Unified,67658.0,48582.0,19076.0,0.718053,0.281947
1,Hesperia Unified,108655.0,34751.0,73904.0,0.319829,0.680171
2,Upland Unified,78784.0,29707.0,49077.0,0.377069,0.622931
3,Apple Valley Unified,81643.0,41209.0,40434.0,0.504746,0.495254
4,Pleasanton Unified,82375.0,41540.0,40835.0,0.504279,0.495721
...,...,...,...,...,...,...
114,Yuba City Unified,76200.0,30891.0,45309.0,0.405394,0.594606
115,Irvine Unified,259482.0,104447.0,155035.0,0.402521,0.597479
116,Val Verde Unified,90550.0,8914.0,81636.0,0.098443,0.901557
117,United States,328239523.0,196789401.0,131450122.0,0.599530,0.400470
118,California,39512223.0,14356081.0,25156142.0,0.363333,0.636667

In [42]:
df = pd.merge(cal_12_dist, mod_acs,
             left_on='DName', 
             right_on='SchoolDistrict',
             how='inner')
df

,DName,Enroll12,NumTSTTakr12,NumERWBenchmark12,NumMathBenchmark12,TotNumBothBenchmark12,PctTstTakers,PctERWBenchmark12,PctMathBenchmark12,PctBothBenchmark12,SchoolDistrict,TotalPop,White,NonWhite,WhiteOrNonLatino%,NonWhiteOrLatino%
0,ABC Unified,3099,1260,1041.0,839.0,805.0,0.406583,0.826190,0.665873,0.638889,ABC Unified,103849.0,12652.0,91197.0,0.121831,0.878169
1,Alhambra Unified,3656,1624,1287.0,1124.0,1038.0,0.444201,0.792488,0.692118,0.639163,Alhambra Unified,114812.0,8547.0,106265.0,0.074443,0.925557
2,Alvord Unified,2809,704,447.0,286.0,258.0,0.250623,0.634943,0.406250,0.366477,Alvord Unified,124268.0,24810.0,99458.0,0.199649,0.800351
3,Antioch Unified,2675,570,380.0,234.0,212.0,0.213084,0.666667,0.410526,0.371930,Antioch Unified,116612.0,31867.0,84745.0,0.273274,0.726726
4,Apple Valley Unified,2105,632,512.0,248.0,236.0,0.300238,0.810127,0.392405,0.373418,Apple Valley Unified,81643.0,41209.0,40434.0,0.504746,0.495254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Visalia Unified,4021,923,704.0,435.0,417.0,0.229545,0.762730,0.471289,0.451788,Visalia Unified,161036.0,55403.0,105633.0,0.344041,0.655959
107,Vista Unified,3886,1051,796.0,641.0,603.0,0.270458,0.757374,0.609895,0.573739,Vista Unified,161949.0,67958.0,93991.0,0.419626,0.580374
108,West Contra Costa Unified,4961,3540,1556.0,862.0,794.0,0.713566,0.439548,0.243503,0.224294,West Contra Costa Unified,255228.0,57040.0,198188.0,0.223486,0.776514
109,Woodland Joint Unified,1460,446,306.0,194.0,178.0,0.305479,0.686099,0.434978,0.399103,Woodland Joint Unified,68616.0,31440.0,37176.0,0.458202,0.541798
110,Yuba City Unified,1801,407,337.0,230.0,230.0,0.225986,0.828010,0.565111,0.565111,Yuba City Unified,76200.0,30891.0,45309.0,0.405394,0.594606

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 110
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DName                  111 non-null    object
 1   Enroll12               111 non-null    int64
 2   NumTSTTakr12           111 non-null    int64
 3   NumERWBenchmark12      111 non-null    float64
 4   NumMathBenchmark12     111 non-null    float64
 5   TotNumBothBenchmark12  111 non-null    float64
 6   PctTstTakers           111 non-null    float64
 7   PctERWBenchmark12      111 non-null    float64
 8   PctMathBenchmark12     111 non-null    float64
 9   PctBothBenchmark12     111 non-null    float64
 10  SchoolDistrict         111 non-null    object
 11  TotalPop               111 non-null    float64
 12  White                  111 non-null    float64
 13  NonWhite               111 non-null    float64
 14  WhiteOrNonLatino%      111 non-null    float64
 15  NonWhiteOrLatino%      111 non-null    float64
dtypes: float64(12), int64(2), object(2)
memory usage: 14.7+ KB

In [45]:
# look @ diversity, test scores, and testing

In [46]:
df['PctDiv'] = 1-(df['WhiteOrNonLatino%'])
df.head()

,DName,Enroll12,NumTSTTakr12,NumERWBenchmark12,NumMathBenchmark12,TotNumBothBenchmark12,PctTstTakers,PctERWBenchmark12,PctMathBenchmark12,PctBothBenchmark12,SchoolDistrict,TotalPop,White,NonWhite,WhiteOrNonLatino%,NonWhiteOrLatino%,PctDiv
0,ABC Unified,3099,1260,1041.0,839.0,805.0,0.406583,0.826190,0.665873,0.638889,ABC Unified,103849.0,12652.0,91197.0,0.121831,0.878169,0.878169
1,Alhambra Unified,3656,1624,1287.0,1124.0,1038.0,0.444201,0.792488,0.692118,0.639163,Alhambra Unified,114812.0,8547.0,106265.0,0.074443,0.925557,0.925557
2,Alvord Unified,2809,704,447.0,286.0,258.0,0.250623,0.634943,0.406250,0.366477,Alvord Unified,124268.0,24810.0,99458.0,0.199649,0.800351,0.800351
3,Antioch Unified,2675,570,380.0,234.0,212.0,0.213084,0.666667,0.410526,0.371930,Antioch Unified,116612.0,31867.0,84745.0,0.273274,0.726726,0.726726
4,Apple Valley Unified,2105,632,512.0,248.0,236.0,0.300238,0.810127,0.392405,0.373418,Apple Valley Unified,81643.0,41209.0,40434.0,0.504746,0.495254,0.495254

In [47]:
# DiversityCat

df['DiversityCat'] = pd.qcut(df['PctDiv'], 4, labels=False).astype(object, copy = False)
df.head()

,DName,Enroll12,NumTSTTakr12,NumERWBenchmark12,NumMathBenchmark12,TotNumBothBenchmark12,PctTstTakers,PctERWBenchmark12,PctMathBenchmark12,PctBothBenchmark12,SchoolDistrict,TotalPop,White,NonWhite,WhiteOrNonLatino%,NonWhiteOrLatino%,PctDiv,DiversityCat
0,ABC Unified,3099,1260,1041.0,839.0,805.0,0.406583,0.826190,0.665873,0.638889,ABC Unified,103849.0,12652.0,91197.0,0.121831,0.878169,0.878169,3
1,Alhambra Unified,3656,1624,1287.0,1124.0,1038.0,0.444201,0.792488,0.692118,0.639163,Alhambra Unified,114812.0,8547.0,106265.0,0.074443,0.925557,0.925557,3
2,Alvord Unified,2809,704,447.0,286.0,258.0,0.250623,0.634943,0.406250,0.366477,Alvord Unified,124268.0,24810.0,99458.0,0.199649,0.800351,0.800351,2
3,Antioch Unified,2675,570,380.0,234.0,212.0,0.213084,0.666667,0.410526,0.371930,Antioch Unified,116612.0,31867.0,84745.0,0.273274,0.726726,0.726726,2
4,Apple Valley Unified,2105,632,512.0,248.0,236.0,0.300238,0.810127,0.392405,0.373418,Apple Valley Unified,81643.0,41209.0,40434.0,0.504746,0.495254,0.495254,1

## Clean CSV

In [48]:
df.to_csv('../data/clean.csv', index=False)